@using TaskGauge.DataTransferObject
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Gauge Room</title>
    <style>
        body {
            display: flex;
            align-items: stretch;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }

        .container-fluid {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            height: 100%;
        }

        #participant-list,
        #task-section {
            border: 1px solid #343a40;
            border-radius: 15px;
            margin: 10px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #participant-list {
            flex-basis: 200px;
        }

        #task-section {
            flex-grow: 1;
        }

        #participant-list ul {
            list-style: none;
            padding: 0;
        }

        .participant {
            margin-bottom: 10px;
        }

        .task-list {
            list-style: none;
            padding: 0;
        }

        .task {
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 0;
        }

        .btn-success {
            margin-top: 10px;
        }

        .task-duration {
            width: 70px;
        }
    </style>
</head>

<body>
    <input type="hidden" id="isAdmin" value="@(ViewBag.IsAdmin.ToString().ToLower())" />
    <input type="hidden" id="roomName" value="@(ViewBag.RoomName.ToString().ToLower())" />


    <div class="container-fluid">
        <div id="participant-list">
            <h3>Participants</h3>
            <ul id="participants">
            </ul>
        </div>

        <div id="task-section">
            <h3>Task Section</h3>
            @if ((bool)ViewBag.IsAdmin)
            {
                <form id="taskForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="taskName" placeholder="Enter Task Name" required>
                    </div>
                    <button type="button" class="btn btn-success" onclick="addTask()">Add Task</button>
                </form>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Statu</th>
                            <th>Effort</th>
                        </tr>
                    </thead>
                    <tbody id="taskHistoryTableForNormalUser">
                    </tbody>
                </table>

            }
            <ul id="taskList" class="task-list">
            </ul>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/webworker/signalr.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/webworker/signalr.js"></script>
    <script src="~/js/room.js"></script>

    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">Set Task Duration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="taskDuration">Duration:</label>
                        <select class="form-control form-control-sm" id="taskDuration" required>
                            <option value="1">1 hour</option>
                            <option value="1.5">1.5 hours</option>
                            <option value="2">2 hours</option>
                            <option value="2.5">2.5 hours</option>
                            <option value="3">3 hours</option>
                            <option value="3.5">3.5 hours</option>
                            <option value="4">4 hours</option>
                            <option value="4.5">4 hours</option>
                            <option value="5">5 hours</option>
                            <option value="5.5">5.5 hours</option>
                            <option value="6">6 hours</option>
                            <option value="6.5">6.5 hours</option>
                            <option value="7">7 hours</option>
                            <option value="7.5">7.5 hours</option>
                            <option value="8">8 hours</option>
                            <option value="24">1 day</option>
                            <option value="48">2 days</option>
                            <option value="72">3 days</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if ((bool)ViewBag.IsAdmin)
    {
        <div id="task-section">
            <h4>Task History</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Statu</th>
                        <th>Detail</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody id="taskHistoryTable">
                </tbody>
            </table>
        </div>
    }

    <div class="modal fade" id="taskDetailModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <div id="task-section">
                            <h4>Task History</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Effort</th> 
                                        <th>Role</th> 
                                    </tr>
                                </thead>
                                <tbody id="taskDetailTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
